html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background: #f5f5f5;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    width: 50vw;
    min-width: 300px;
    margin: 0 auto;
    font-family: monospace;
    font-size: 18px;
}

#help h2 {
    margin: 10px 0 5px 0;
}

.heading  p {
    font-size: 16px;
    margin-bottom: 10px;
}

#help tr:first-child td {
    padding-top: 10px;
}

#help tr:last-child td {
    padding-bottom: 10px;
}

#help table {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 900px;
    font-size: 17px;
}

#help td {
    padding: 3px 10px;
}

#help td:first-child {
    background: white;
    font-family: monospace;
    min-width: 190px;
}

#help td:last-child {
    font-family: serif;
}

#help pre,
span.code {
    display: inline;
    background: white;
    padding: 0 3px;
    margin: 0;
}

#title-text,
h1 {
    font-size: 27px;
    text-align: center;
}

section p:first-of-type {
    margin-top: 0;
}

section {
    text-align: left;
}

.game-content {
    width: 100%;
}

#game-text .note-heading {
    font-size: 15px;
    border-bottom: 1px solid black;
    font-style: italic;
}

#inventory {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 14vw;
    border: 2px solid darkgrey;
    padding: 10px 20px;
    font-size: 16px;
    background: white;
}

#inventory hr {
    box-shadow: 1px 1px rgba(70, 70, 70, 0.1);
}

#inventory h2 {
    text-align: center;
    margin: 0;
    font-size: 18px;
}

#inventory ul {
    list-style-type: square;
}

footer {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 45vh;
    width: 600px;
    font-size: 16px;
}

#status-text {
    position: relative;
    text-align: center;
}

#status-text::first-letter {
    text-transform: capitalize;
}

#user-input {
    width: 60%;
    align-self: center;
    padding: 5px 8px;
    letter-spacing: 1.5px;
}

#user-input::placeholder {
    text-align: center;
    font-family: monospace;
    letter-spacing: normal;
}

b {
    font-size: 1.2em;
}

.hidden {
    display: none !important;
}

.bounce {
    animation-name: bounce;
    animation-duration: 2s;
}

@keyframes bounce {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    5% {
        transform: translateX(-100%);
        opacity: 0;
    }

    15% {
        transform: translateX(0);
        padding-left: 5px;
    }

    30% {
        transform: translateX(-50%);
        padding-left: 6px;
    }

    50% {
        transform: translateX(-30%);
    }
}

@media screen and (max-height: 600px) {
    footer {
        bottom: 75px;
    }
}
